<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ControleMateriais</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="materiais">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Materiais
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="consulta-materiais">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Consulta Materiais
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ordem-servico">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Ordem de Serviço
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="consulta-ordem-servico">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Consultar OS
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="relatorios">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Relatórios
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cadastro-usuario">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Cadastrar Novo Usuário
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="exibir-usuarios">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Consultar Usuarios
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cadastro-polo">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Cadastrar Polo
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="consulta-polos">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Consultar Polos
            </NavLink>
        </div>

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
